a{
    text-decoration: none;
    color: inherit;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(
        4,2fr
    );
    grid-auto-flow: row dense;
    gap: 1em;
    
    /* extra styles */
    /* grid-gap: 0.5rem; */
}

.article-card {
    max-width: 300px;
    max-height: 600px;
    transition: all .2s ease-in-out;
}
.article-card:hover{
    transform: scale(1.08);
}
