.searchbar {
  position: absolute;
  /* top: 30%;
  left: 40%; */
}

.carousel-container {
  height: 30%;
}

.watch-card img {
  height: 20rem;
}

.accroche {
  font-family: "Fira Sans";
  font-style: italic;
  margin: 3rem;
}

.selection-title {
  margin-left: 4rem;
  margin-bottom: 3rem;
}

/* @media screen and (min-width: 1400px) {
  .article-card {
    height: 75% !important;
  }
} */
