.searchbar {
  position: absolute;
  /* top: 30%;
  left: 40%; */
}

.carousel-container {
  height: 30%;
}

.accroche {
  font-family: "Fira Sans";
  font-style: italic;
  margin: 3rem;
}

.selection-title {
  margin-left: 4rem;
  margin-bottom: 3rem;
}

 @media screen and (max-width: 350px) {
  .container {
    width: 100%;
    padding: 0 20px;
    
  }
}
