<footer class="w-100 h-25 bg-dark d-flex justify-content-center">
    <div class="footer_container w-75 h-100 d-flex justify-content-around align-items-center">
        <ul class="list-unstyled h-50">
            <li class="text-white fw-bold"><span>A PROPOS DE WATCH MARKET</span></li>
            <li><a href="#" class="text-white">Qui sommes-nous ?</a></li>
            <li><a href="#" class="text-white">Recrutement</a></li>
            <li><a href="#" class="text-white">Conditions générales de vente</a></li>
            <li><a href="#" class="text-white">Mentions Légales</a></li>
            <li><a href="#" class="text-white">Espace Presse</a></li>
        </ul>
        <ul class="list-unstyled h-50">
            <li class="text-white fw-bold"><span>POURQUOI CHOISIR WATCH MARKET</span></li>
            <li><a href="#" class="text-white">Avis de nos clients</a></li>
            <li><a href="#" class="text-white">Livraison offerte en France</a></li>
            <li><a href="#" class="text-white">30 Jours satisfaits ou remboursés</a></li>
            <li><a href="#" class="text-white">Paiements sécurisés</a></li>
            <li><a href="#" class="text-white">Programme de fidélité</a></li>            
        </ul>
        <ul class="list-unstyled h-50">
            <li class="text-white fw-bold"><span>AIDE & GUIDES</span></li>
            <li><a href="#" class="text-white">FAQ</a></li>
        </ul>
    </div>
</footer>