<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close  fw-bold">&times;</span>
    <p class="text-center fw-bold">Votre article a bien été ajouté au panier</p>
    <div class="d-flex justify-content-start">
        <button class="btn btn-dark col-4">Aller au panier</button>
        <button class="btn btn-light text-black col-4 ms-2">Aller au panier</button>
    </div>
  </div>

</div>