<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close  fw-bold">&times;</span>
    <p class="text-center fw-bold">Votre article a bien été ajouté au panier</p>
    <div class="d-flex justify-content-start">
        <a class="col-4" href="{{path('cart')}}"><button class="btn btn-dark w-100">Aller au panier</button></a>
        <button id="closeButton" class="btn btn-light text-black col-4 ms-2">Fermer</button>
    </div>
  </div>

</div>