{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('css/login.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="login_container w-auto d-flex justify-content-center align-items-center">
      <form class="col-6 shadow p-3 mb-5 bg-body rounded" method="post" action="{{path('login')}}">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" value="{{ last_user }}" name="_username" id="email" aria-describedby="emailHelp" placeholder="Entrez votre email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="_password" class="form-control" id="password">
        </div>
        {% if error %}
        <div class="alert-danger text-center">
          <strong class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
{% endblock %}
